/*

    COLORS

    Pink   : #ffdddd
    Purple : #ddddff
    Green  : #ddffdd
    Blue   : #ddffff
    Yellow : #ffffdd

    BREAKPOINTS

    600px
    1100px

*/

body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd;
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color: #009999;
}

h2, h3{
    margin-bottom: 0;
}

a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}

a:hover{
    color: blue;
}

header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;
}

#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

#main_nav{
    text-align: center;
}

#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

#main_nav a:hover{
    background: #ddddff;
}

@media screen and (max-width: 600px) {
  #logo {
    padding-left: 40%;
    padding-right: 40%;
  }
  #main_content {
    background-color: #ddffff
  }
  #sidebar_content div {
    background-color: #ffffdd;
  }
  #site_footer {
    background-color: #ffd582;
}
  #site_footer nav{
    display: flex;
    justify-content: space-around;
  }
  #site_footer nav a {
    margin: 1em;
  }

}


@media screen and (min-width: 601px) and (max-width: 1100px){
  #logo {
    padding-left: 40%;
    padding-right: 40%;
  }
  #main_nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

  #main_nav a {
    margin: 1em;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
  }

  #main_content {
    background-color: #ddffff
  }
  #sidebar_content {
    background-color: #ffffdd;
    display: flex;
    justify-content: space-around;
    margin: 1em;
  }

  #site_footer {
    background-color: #ffd582;
}
  #site_footer nav{
    display: flex;
    justify-content: space-around;
  }
  #site_footer nav a {
    margin: 1em;
  }
}

@media screen and (min-width: 1101px) {


  #main_content {
    background-color: #ddffff;
    display: flex;
    justify-content: space-around;
    margin: 1em;
    padding-left: em;
  }

  #sidebar_content {
    background-color: #ffffdd;
    display: flex;
    justify-content: space-around;
    margin: 1em;
  }
  #main_nav a {
    margin: 1em;
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
  }
  header {
    display: flex;
    flex-direction: row;
    align-content: space-around;
  }

  header nav{
    display: flex;
    justify-content: space-around;
  }
  header nav a {
    margin: 1em;
  }
  #site_footer {
    background-color: #ffd582;
}
  #site_footer nav{
    display: flex;
    justify-content: space-around;
  }
  #site_footer nav a {
    margin: 1em;
  }
  #site_footer > nav > a:nth-child(1) {
    position: relative;
    right: -20%;
  }
  #site_footer > nav > a:nth-child(3){
    position: relative;
    left: -20%;
  }


  #main_content > div:nth-child(1) {
    width: 60%;
  }
  #main_content > div:nth-child(2) {
    width: 25%;

  }
  }

}
